<div class="min-h-screen flex justify-center items-center bg-slate-500">
  <div
    class="flex flex-col items-center justify-center max-w-md w-full rounded-xl shadow-lg p-8 bg-gradient-to-br from-blue-600 via-purple-500 to-gray-600"
  >
    <h1 class="text-center text-white text-2xl font-bold mb-2">
      Registro
    </h1>
    <p class="text-gray-200 text-center mb-6">Registrate con tus credenciales</p>

    <form class="w-full" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="block text-white mb-1" for="nameUser">Nombre de usuario</label>
        <div class="relative">
          <span class="text-red-500 absolute left-3 top-1/2 -translate-y-1/2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
          </span>
          <input
            id="nameUser"
            name="nameUser"
            autocomplete="nameUser"
            formControlName="nameUser"
            placeholder="tu nombre"
            class="pl-10 pr-3 py-2 rounded-md border w-full text-sm focus:outline-none focus:ring-2 focus:ring-blue-300"
            type="text"
          />
        </div>
      </div>
      @if(formLogin.controls.password.touched &&
        formLogin.controls.password.errors){
        <span class="text-red-500 mt-3 mix-blend-color-dodge">
          {{ getError("nameUser") }}
        </span>
        }
      <div class="mb-3">
        <label class="block text-white mb-1" for="email">Email</label>
        <div class="relative">
          <span class="text-red-500 absolute left-3 top-1/2 -translate-y-1/2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
          </span>
          <input
            id="email"
            name="email"
            autocomplete="email"
            formControlName="email"
            placeholder="tu@email"
            class="pl-10 pr-3 py-2 rounded-md border w-full text-sm focus:outline-none focus:ring-2 focus:ring-blue-300"
            type="text"
          />
        </div>
      </div>
      @if(formLogin.controls.email.touched &&
      formLogin.controls.email.errors){
      <span class="text-red-500 mt-3 mix-blend-color-dodge">
        {{ getError("email") }}
      </span>
      }
      <div class="mb-3">
        <label class="block text-white mb-1" for="password">Contraseña</label>
        <div class="relative">
          <span class="text-red-500 absolute left-3 top-1/2 -translate-y-1/2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
              />
            </svg>
          </span>
          <input
            id="password"
            name="password"
            autocomplete="password"
            formControlName="password"
            placeholder="tu Contraseña"
            class="pl-10 pr-3 py-2 rounded-md border w-full text-sm focus:outline-none focus:ring-2 focus:ring-blue-300"
            type="password"
          />
        </div>
      </div>
      @if(formLogin.controls.password.touched &&
        formLogin.controls.password.errors){
        <span class="text-red-500 mt-3 mix-blend-color-dodge">
          {{ getError("password") }}
        </span>
        }
      <button
        class="rounded-md w-full px-4 py-2 font-semibold bg-blue-600 hover:bg-blue-500 border border-blue-400 text-white transition-all duration-200" type="submit">
        Registrarse
      </button>
    </form>
  </div>
</div>
